# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pickle
Output/Scenarios.json
settings.ini
.DS_Store
Inputs/S0/.DS_Store
SourceCode/.DS_Store
Output/Results_*
Emulation/data/emulators/*.rds